---
---

/* Add your custom style here */
@import "portfolYOU";

.fa-footer {
    font-size: 1.25em;
}

[data-theme="dark"] {
    .engine {
        border-color: #bfbebe !important;
        color: #b5b3b3 !important;
    }
    .tag {
        border-color: #707070 !important;
        color: #707070 !important;
    }
}

[data-theme="light"] {
    .engine {
        border-color: #707070 !important;
        color: #707070 !important;
    }
    .tag {
        border-color: #bfbebe !important;
        color: #b5b3b3 !important;
    }
    
}