---
---

/* Add your custom style here */
@import "portfolYOU";

.fa-footer {
    font-size: 1.25em;
}

.badge {
    border-color: #545454 !important;
    color: #848484 !important;
}

.engine {
    border-color: #bfbebe !important;
    color: #b5b3b3 !important;
}
